<div class="row">
  <div class="small-12 columns container">

    <div class="quote">
      <h1 id="quote">"The expert at anything was once a beginner."</h1>
      <p>&middot; &middot; &middot;</p>
      <p class="signature">- Helen Hayes -</p>
    </div>
  </div>
</div>
