<div class="row">
  <div class="spacer large-12 columns show-for-large">

  </div>
</div>

<div class="row">
  <div class="small-12 columns container">

    <div class="quote">
      <p class="large-text">Slawomir Cieslak</h1>
      <p class="dot-devider">&middot; &middot; &middot;</p>
      <p class="small-text">Junior Ruby on Rails Developer</p>

      <div class="social-media">
        <%= link_to image_tag("slawomir_cieslak_linkedin.svg", alt: "LinkedIn", title: "LinkedIn", data: {tooltip: true}), "https://uk.linkedin.com/in/scieslak", target: "_blank" %>

        <%= link_to image_tag("slawomir_cieslak_github.svg", alt: "GitHub", title: "GitHub", data: {tooltip: true}), "https://github.com/scieslak", target: "_blank" %>

        <%= link_to image_tag("slawomir_cieslak_stackoverflow.svg", alt: "StackOverflof", title: "StackOverflow", data: {tooltip: true}), "http://stackoverflow.com/users/6890702/scieslak", target: "_blank" %>
      </div>
    </div>
  </div>
</div>
