/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 @import "foundation_and_overrides";
/* Add imports of custom sass/scss files here */
// @import url('https://fonts.googleapis.com/css?family=Indie+Flower|Oswald');
// div {
//   border: 2px solid red;
// }
body {
  background: image-url('scieslak_bg.svg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  outline:none;
}

.spacer {
  height: 10rem;
  // background-color: pink;
}

.container {
  // position: relative;;
  // height:500px;
  margin: auto;
  padding: 0;
}

.quote {
  // position: absolute;
  // top: 30%;
  // height: 100px;
  width: 100%;
  padding: 1rem;
  color:white;
  text-align: center;

}
.large-text {
  font-size: 2.5em;
  font-family: 'Indie Flower', cursive;
}

.dot-devider {
  font-size: 1em;
}

.small-text {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  color:#00abff;
}

.social-media {
  padding-top: 1rem;
}
